In [1]:
# -----------03_DAwPYT_BD_03--------------

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

### PANDAS

### Creating a Pandas Series with Basic Format

In [4]:
pd.Series([10,88,3,4,5])

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [5]:
ser = pd.Series([10,88,3,4,5])
ser

0    10
1    88
2     3
3     4
4     5
dtype: int64

### Basic Attributes

In [6]:
type(ser)

pandas.core.series.Series

In [7]:
ser.dtype

dtype('int64')

In [8]:
ser.size

5

In [9]:
ser.ndim

1

In [10]:
ser.values

array([10, 88,  3,  4,  5], dtype=int64)

In [11]:
type(ser.values)

numpy.ndarray

In [12]:
for i in ser.values:
    print(i)

10
88
3
4
5

In [13]:
[i for i in ser.values]

[10, 88, 3, 4, 5]

In [14]:
ser.head(3)

0    10
1    88
2     3
dtype: int64

In [15]:
ser.tail()

0    10
1    88
2     3
3     4
4     5
dtype: int64

In [16]:
ser.tail(2)

3    4
4    5
dtype: int64

In [17]:
pd.Series([i for i in "engin"])

0    e
1    n
2    g
3    i
4    n
dtype: object

# Creating Pandas Series Using a;
    # list,
    # numpy-array
    # dict

In [18]:
labels = ["a","b","c"]
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {"a":10, "b":20, "c":30}

### Using List

In [19]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [20]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [21]:
pd.Series(my_list, labels)

a    10
b    20
c    30
dtype: int64

### Using NumPy Arrays

In [22]:
arr

array([10, 20, 30])

In [23]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [24]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

### Using Dictionary

In [25]:
t = {'a': [10,11,12], 'b': (20,21,22), 'c': (30,21,22)}

In [26]:
pd.Series(t)

a    [10, 11, 12]
b    (20, 21, 22)
c    (30, 21, 22)
dtype: object

In [27]:
d

{'a': 10, 'b': 20, 'c': 30}

In [28]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [29]:
pd.Series(d, ["w","c","z"])

w     NaN
c    30.0
z     NaN
dtype: float64

In [30]:
a = np.nan
a

nan

In [31]:
# NaN: Not a Number
# NaT: Not a Time

### Data in Series

In [32]:
labels

['a', 'b', 'c']

In [33]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [34]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [35]:
mix_data= [1,"cat",True]

In [36]:
pd.Series(mix_data)

0       1
1     cat
2    True
dtype: object

In [37]:
np.array(mix_data)

array(['1', 'cat', 'True'], dtype='<U11')

### Sorting Index/Sorting Values/Check Data if it is in the pd.Series

In [38]:
s = pd.Series([np.nan,2,4,10,7])
s

0     NaN
1     2.0
2     4.0
3    10.0
4     7.0
dtype: float64

In [39]:
s.sort_values(ascending=True)

1     2.0
2     4.0
4     7.0
3    10.0
0     NaN
dtype: float64

In [40]:
s.sort_values(ascending=False)

3    10.0
4     7.0
2     4.0
1     2.0
0     NaN
dtype: float64

In [41]:
s.sort_values(ascending=False, inplace=True)
s

3    10.0
4     7.0
2     4.0
1     2.0
0     NaN
dtype: float64

In [42]:
s.sort_values(na_position="first")

0     NaN
1     2.0
2     4.0
4     7.0
3    10.0
dtype: float64

In [43]:
s = pd.Series(["t","q","s","p","r"])
s

0    t
1    q
2    s
3    p
4    r
dtype: object

In [44]:
s.sort_values()

3    p
1    q
4    r
2    s
0    t
dtype: object

In [45]:
s = pd.Series(["dog","cow","dog","cat","dog","lion"], name="animal")
s

0     dog
1     cow
2     dog
3     cat
4     dog
5    lion
Name: animal, dtype: object

In [46]:
s.isin(["cow"])

0    False
1     True
2    False
3    False
4    False
5    False
Name: animal, dtype: bool

In [47]:
s.isin(["cow", "dog"])

0     True
1     True
2     True
3    False
4     True
5    False
Name: animal, dtype: bool

### Indexing Pandas Series

In [49]:
ser1 = pd.Series([1,2,3,4], index=["USA","Germany","USSR","Japan"])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [50]:
ser2 = pd.Series([1,2,5,4], index=["USA","Germany","Italy","Japan"])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [51]:
ser1["USA"]

1

In [52]:
ser1[0]

1

In [53]:
ser3 = pd.Series(data=labels)
ser3

0    a
1    b
2    c
dtype: object

In [54]:
ser3[0]

'a'

In [55]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [56]:
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [57]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

### Indexing Examples

In [59]:
a = np.array([1,2,33,444,75])

In [60]:
panser = pd.Series(a)
panser

0      1
1      2
2     33
3    444
4     75
dtype: int32

In [61]:
panser[0]

1

In [62]:
panser[1:3]

1     2
2    33
dtype: int32

In [63]:
panser[:3]

0     1
1     2
2    33
dtype: int32

In [64]:
panser = pd.Series([121,200,150,99], index=["ali","veli","ayşe","nur"])
panser

ali     121
veli    200
ayşe    150
nur      99
dtype: int64

In [65]:
panser["ali"]

121

In [66]:
panser[0]

121

In [67]:
panser[["veli", "nur"]]

veli    200
nur      99
dtype: int64

In [68]:
panser["veli":"nur"]

veli    200
ayşe    150
nur      99
dtype: int64

In [69]:
panser[0:3]

ali     121
veli    200
ayşe    150
dtype: int64

In [70]:
panser["ali":"nur"]

ali     121
veli    200
ayşe    150
nur      99
dtype: int64

### Several Selecting Attributes

In [72]:
panser.index

Index(['ali', 'veli', 'ayşe', 'nur'], dtype='object')

In [73]:
panser.keys

<bound method Series.keys of ali     121
veli    200
ayşe    150
nur      99
dtype: int64>

In [74]:
panser.values

array([121, 200, 150,  99], dtype=int64)

In [75]:
panser.items()

In [76]:
list(panser.items())

[('ali', 121), ('veli', 200), ('ayşe', 150), ('nur', 99)]

In [77]:
for index, value in panser.items():
    print(index, "-", value)

ali - 121
veli - 200
ayşe - 150
nur - 99

### # ">=", "<=", "==, "in", "not" >>> T / F

In [78]:
# "in" ve "not" operatorleri T/F döner
# burada indexe bakarak T/F döner

In [79]:
"mehmet" in panser

False

In [80]:
121 in panser

False

In [81]:
"ali" in panser

True

In [82]:
# ">=", "<=", "==, "in", "not" bunlar T/F döner

In [83]:
121 in panser.values

True

In [84]:
99 in panser.values

True

In [85]:
500 in panser.values

False

In [86]:
panser["veli"] = 571
panser

ali     121
veli    571
ayşe    150
nur      99
dtype: int64

In [87]:
panser

ali     121
veli    571
ayşe    150
nur      99
dtype: int64

In [88]:
panser > 130

ali     False
veli     True
ayşe     True
nur     False
dtype: bool

In [89]:
panser[panser>130]

veli    571
ayşe    150
dtype: int64

In [90]:
panser[[False, True, True, False]]

veli    571
ayşe    150
dtype: int64

## Pandas DataFrames

In [92]:
# .index    # .shape    # .tail()
# .columns  # .ndim     # .get_dummies()
# .groupby  # .size     # .xs()
# .drop     # .values   # .join()
# .dropna   # .loc      # .merge()
# .head()   # .iloc     # .concat()

In [93]:
datam = [1,2,39,67,90]
datam

[1, 2, 39, 67, 90]

In [94]:
pd.DataFrame(datam, columns=["column_name"])

   column_name
0            1
1            2
2           39
3           67
4           90

### Creating a DataFrame using a Numpy Arrays

In [96]:
m = np.arange(1,10).reshape(3,3)
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [97]:
pd.DataFrame(m, columns=["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [98]:
pd.DataFrame(data=m, columns=["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [99]:
df = pd.DataFrame(data=m, columns=["var1","var2","var3"])
df

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [100]:
df.head

<bound method NDFrame.head of    var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9>

In [101]:
df.tail(2)

   var1  var2  var3
1     4     5     6
2     7     8     9

In [102]:
df.columns

Index(['var1', 'var2', 'var3'], dtype='object')

In [103]:
df.columns = ["new1","new2","new3"]

In [104]:
df

   new1  new2  new3
0     1     2     3
1     4     5     6
2     7     8     9

In [105]:
type(df)

pandas.core.frame.DataFrame

In [106]:
df.shape

(3, 3)

In [107]:
df.size

9

In [108]:
df.ndim

2

In [109]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [110]:
type(df.values)

numpy.ndarray

### Creating a DataFrame using a Dictionary

In [112]:
s1 = np.random.randint(10, size = 5)
s2 = np.random.randint(10, size = 5)
s3 = np.random.randint(10, size = 5)

In [113]:
s1

array([9, 7, 7, 6, 6])

In [114]:
s2

array([1, 6, 6, 5, 9])

In [115]:
s3

array([5, 2, 4, 6, 6])

In [116]:
myDict = {"var1":s1, "var2":s2, "var3":s3}
myDict

{'var1': array([9, 7, 7, 6, 6]),
 'var2': array([1, 6, 6, 5, 9]),
 'var3': array([5, 2, 4, 6, 6])}

In [117]:
df1 = pd.DataFrame(myDict)
df1

   var1  var2  var3
0     9     1     5
1     7     6     2
2     7     6     4
3     6     5     6
4     6     9     6

In [138]:
df3 = pd.read_excel("ornek.xlsx")
df3

        a      b     c
0    78.0   12.0   1.0
1    78.0   12.0   2.0
2    78.0  324.0   3.0
3     7.0    2.0   4.0
4     NaN   23.0   5.0
5     6.0    2.0   NaN
6     NaN   11.0   6.0
7     7.0   12.0   7.0
8    56.0   21.0   7.0
9   346.0    NaN   8.0
10    5.0    1.0   8.0
11  456.0   21.0   8.0
12    3.0   12.0  88.0

In [161]:
df4 = df3.dropna().reindex().sort_values(by="a").groupby(["c","b"]).value_counts().reindex()
df4

c     b      a
1.0   12.0   78.0     1
2.0   12.0   78.0     1
3.0   324.0  78.0     1
4.0   2.0    7.0      1
7.0   12.0   7.0      1
      21.0   56.0     1
8.0   1.0    5.0      1
      21.0   456.0    1
88.0  12.0   3.0      1
dtype: int64

In [118]:
a = np.arange(39).reshape(13,3)
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20],
       [21, 22, 23],
       [24, 25, 26],
       [27, 28, 29],
       [30, 31, 32],
       [33, 34, 35],
       [36, 37, 38]])

In [119]:
df1 = pd.DataFrame(a, columns=["a", "b","c"])
df1

     a   b   c
0    0   1   2
1    3   4   5
2    6   7   8
3    9  10  11
4   12  13  14
5   15  16  17
6   18  19  20
7   21  22  23
8   24  25  26
9   27  28  29
10  30  31  32
11  33  34  35
12  36  37  38

In [120]:
df1[1:3]

   a  b  c
1  3  4  5
2  6  7  8

In [121]:
df1.index

RangeIndex(start=0, stop=13, step=1)

In [122]:
[i for i in df1.index]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [123]:
x = np.arange(15).reshape(5,3)
x

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [124]:
df1 = pd.DataFrame(x, columns=["var1","var2","var3"])
df1

   var1  var2  var3
0     0     1     2
1     3     4     5
2     6     7     8
3     9    10    11
4    12    13    14

In [125]:
[i for i in df1.index]

[0, 1, 2, 3, 4]

In [126]:
df1.index = ["a","b","c","d","e"]
df1

   var1  var2  var3
a     0     1     2
b     3     4     5
c     6     7     8
d     9    10    11
e    12    13    14

In [127]:
df1["b":"d"]

   var1  var2  var3
b     3     4     5
c     6     7     8
d     9    10    11

In [128]:
"var2" in df1

True

In [129]:
9 in df1

False

In [ ]:
s = pd.Series(['p', 'q', 'r', 's'], index=[3, 2, 4, 5])
s.sort_index()

2    q
3    p
4    r
5    s
dtype: object

<img src="https://www.w3resource.com/w3r_images/pandas-series-sort_index-image-1.svg" width="300" height="150">

Sort Descending

In [ ]:
s.sort_index(ascending=False)

5    s
4    r
3    p
2    q
dtype: object

Sort Inplace

In [ ]:
s.sort_index(inplace=True)
s

2    q
3    p
4    r
5    s
dtype: object

By default NaNs are put at the end, but use na_position to place them at the beginning

In [ ]:
s = pd.Series(['p', 'q', 'r', 's'], index=[3, 2, 4, np.nan])
s.sort_index(na_position='first')

NaN    s
2.0    q
3.0    p
4.0    r
dtype: object

Specify index level to sort

In [ ]:
arrays = [np.array(['xx', 'xx', 'ff', 'ff',
                    'bb', 'bb', 'br', 'br']),
          np.array(['two', 'one', 'two', 'one',
                    'two', 'one', 'two', 'one'])]

In [ ]:
s = pd.Series([2, 3, 4, 5, 6, 7, 8, 9], index=arrays)
s.sort_index(level=1)

bb  one    7
br  one    9
ff  one    5
xx  one    3
bb  two    6
br  two    8
ff  two    4
xx  two    2
dtype: int64

Does not sort by remaining levels when sorting by levels

In [ ]:
s.sort_index(level=1, sort_remaining=False)

xx  one    3
ff  one    5
bb  one    7
br  one    9
xx  two    2
ff  two    4
bb  two    6
br  two    8
dtype: int64